import java.util.Scanner;
public class Contraseña
{
    public static void main(String[] args) {
        Scanner sc = new Scanner(System.in);
        String a = "Hola";
        System.out.println("Ingresa la contraseña a comparar");
        String c = sc.nextLine();
        
        if (a.equals (c)) {
            System.out.println("Si son iguales");
           
        } else {
            System.out.println("no son iguales");
            
        }
        
    }
}
